.info-items{
    margin: 0 5%;
    display: flex;
    height: 80%;
    align-items: center;
  }
  
  .info-items ul{
    width: 100%;
  }
  .info-items li{
    list-style: none;
    text-align: left;
    text-transform: uppercase;
    font-size: 4vw;
    font-family: 'Girloy-Bold';
  }
  
  .info-items li:first-child{
    color: #7b1fa2;
  }
  
  .info-items li:last-child{
    text-align: right;
  }